body {
    background-color: #404040;
}

  .button2 {
    padding: 4px 10px;
    display: inline-block;
    border-radius: 50px;
    background-color: #00B1FF;
    color: white;
    border: 5px solid white;
    transition: border 0.2s ease;
  }
  .button2:hover {
    border: 5px solid #81D9FF;
    cursor: pointer;
  }