body {
    background-color: #404040;
}
h6 {
    font-family: 'Yellowtail';
    font-size: 22px;
}

  .button2 {
    padding: 4px 10px;
    display: inline-block;
    border-radius: 50px;
    background-color: #5cb85c;
    color: white;
    border: 5px solid white;
    transition: border 0.2s ease;
  }
  .button2:hover {
    border: 5px solid #d9534f;
    cursor: pointer;
  }